services:
  postgres:
    image: postgres:17
    container_name: pet-shop-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=pet-shop
    volumes:
      - ./pgdata:/var/lib/postgresql/data

volumes:
  pgdata: